<!--PAGE SHOW MESSAGERIE ADMIN-->

<div style="margin-top: 10%" >
	<a class="btn btn-primary" href="<%= message_admin_path %>" role="button"> < Boite de reception</a>
	<div class="portlet-body no-padding">
		<br>

		


		<!-- TABLEAU MESSAGERIE -->
		<h1>Messages Recus de <%=(params[:name]).capitalize%></h1>
		<table class="table table-striped table-bordered" style="width:100%">
			<th><%=User.find(params[:id]).last_name.capitalize%></th>
			<th><%= current_user.last_name.capitalize %></th>
			<th id="date_message">Date</th>
			<tbody>
				<% @messages_to_display = [] %>
				<% @messages.each do |message| %>
				<% @messages_to_display << message %>
				<% end %>
				<% @reponses.each do |reponse| %>
				<% if (reponse.dest_id).to_i == (params[:id]).to_i %>
				<% @messages_to_display << reponse %>
				<% end %>
				<% end %>
				<tr>
					<% @messages_to_display.each do |message|%>
					<% if message.user_id != current_user.id %>
					<td><%= message.content %></td>
					<td></td>
					<% else %>
					<td></td>
					<td><%= message.content %></td>
					<% end %>
					<td><%= message.created_at.to_s.delete("UTC")%></td>
				</tr>
				<% end %>
			</tbody>	
		</table>
	</div>
</div>
<!-- FIN DU TABLEAU MESSAGERIE -->
<!-- FORMULAIRE DE REPONSE -->
<div class="form_mess">
	<%= form_with(model: @reponse, local: true) do |form| %>
	<div class="field">
		<%= form.label :content, "Saisisssez votre message :" %>
		<%= form.text_area :content, id: 'message_tag' %>

		<%= hidden_field_tag "dest_id", params[:id] %>
		<div class="actions">
			<%= form.submit %>
		</div>
		<% end %>
	</div>
</div>
<!-- FIN FORMULAIRE -->
<!-- SCRIPT POUR METTRE LES MESSAGES EN FONCTION DE LEUR DATE-->
<script>
	$(document).ready(function () {
		var table = $('table');
		$('#date_message')
		.wrapInner('<span title="sort this column"/>')
		.each(function(){
			var th = $(this),
			thIndex = th.index(),
			inverse = false;
			th.ready(function () {
				table.find('td').filter(function(){
					return $(this).index() === thIndex;
				}).sortElements(function(a, b){
					return $.text([a]) > $.text([b]) ?
					inverse ? -1 : 1
					: inverse ? 1 : -1;
				}, function(){
					return this.parentNode; 
				});
				inverse = !inverse;
			});
		});
	});
</script>
<!-- FIN DU SCRIPT -->