<div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg6.jpg")'>
            <div class="container">
                <div class="row pb30 align-items-end">
                    <div class="col-lg-4 ml-md-auto col-md-6 col-sm-6 mb20">
                        <h3 class="text-white text-left mb30">Join the world of Assan.</h3>
                        <form>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="field">
    <%= f.label :Nom %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "nom" %>
  </div>

  <div class="field">
    <%= f.label :Prénom %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "prenom" %>
  </div>

  <div class="field">
    <%= f.label :Email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :Password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :Téléphone %><br />
    <%= f.text_field :phone, autocomplete: "07..." %>
  </div>

  <div class="actions">
    
    <%= f.submit "Sign up" %>

    



  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
</form>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 mb20">
                        <h3 class="text-white text-left mb30">Sign Up with social</h3>
                        <div class="clearfix">
                            <a href="#" class="social-icon-lg si-dark si-colored-facebook">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-icon-lg  si-dark si-colored-twitter">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-icon-lg si-dark si-colored-google-plus">
                                <i class="fa fa-google-plus"></i>
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>