<div style= "text-align: center; margin-top: 5%;">
	<div class="bg-white table-responsive rounded shadow-sm pt-3 pb-3 mb-30">
		<table id="data-table" class="table mb-0 table-striped" cellspacing="0" width="100%">
			<h1>VOS RESULTATS</h1>
			<tr>
				<h3>
					<th></th>
					<th>Type d'avion</th>
					<th>Nb passagers maximum</th>
					<th>Année de fabrication (YOM)</th>
					<th>Tps de vol</th>
					<th>Position de l'avion</th>
					<th>Compagnie</th>
					<th>Prix</th>
					<th></th>
				</h3>
			</tr>
		</thead>
		<% a = [] %>
		<%@aircrafts.each do |plane|%>
		<% if plane.Actual_position == @departure.split.join && plane.Maxpax >= @people.to_i %>
		<tbody>
			<tr><h5>
				<td> <%= image_tag("#{plane.Tail}.jpg", width: 80, height: 60)%></td>
				<td><%= plane.Type %></td>
				<td><%= plane.Maxpax %></td>
				<td>1999</td>
				<td>1 heure</td>
				<td><%= plane.Actual_position %></td>
				<td>Globe-Air</td>
				<td><%= plane.price %> €</td>
				<td><a href="javascript:void(0)" class="btn btn-shadow btn-gradient btn-gradient-success mb-3 mr-3">
					Selectionner ce vol
				</a></td>
			</h5>
		</tr>
	</tbody>
	<%else %>
	<% a << 0 %>
	<%end %>
	<%end %>
</table>
</div>
</div>
