<div style="margin-left: 5%;margin-right: 5%;" >
	<div style="margin-top: 10%; float: left">

		<h3>
			Type d'avion : <%= @aircraft_Type %> <br>
			Dans la categorie : <%= @aircraft_Category %> <br>
			Au prix de : <%= @aircraft_price %>Euro
		</h3>
		<br>
		<%= image_tag("#{@image_url}.jpg", width: 430, height: 226)%> <br>
		<%= image_tag("aircrafts/#{@image_url}/#{@image_url}_inside.jpg",  width: 430, height: 226)%> <br>
		<%= image_tag("aircrafts/#{@image_url}/#{@image_url}_floor.jpg",  width: 430, height: 226)%>
		<br>
		<br>


	</div>
	<div style="margin-top: 15%; float: right">
		<h5>
			Recapitulatif de la commande : <br>
		</h5>
		<h6>
			Vol : detail du vol <br>
			L'avion : <%= @aircraft_Type %> <br>
			Commission : <%= @commission %> Euro (5%) <br>
			Total : <%= @total %> Euro


			<br>

			<button type="button" class="btn btn-warning mb-2 mr-1" data-toggle="modal" data-target=".bd-example-modal-lg">Conditions de vente</button>

			<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">
								Conditions generales de vente - Stratton
							</h4>
						</div>
						<div class="modal-body" style ="list-style: none">
							<h3><th>Inclus dans l’offre</th></h3>
							<li>Catering Standard</li>
							<li>Taxes Aéroportuaires, des passagers et prime d’assurance</li>
							<li>TVA si applicable</li>
							<br>
							<h3><th>Offre sous réserve</th></h3>
							<li>Confirmation disponibilité appareil et équipage à la réservation</li>
							<li>Obtention des créneaux terrains, droits de trafic et stationnement appareil</li>
							<li>Variation coûts assurance, carburant, taux de change ou taxes aériennes</li>
							<br>
							<h3><th>Additionnels</th></h3>
							<li>Dégivrage au sol de l'appareil si nécessaire -Discrétion CdB- Refacturation à </coût après le vol
								<li>Usage du téléphone satellitaire si disponible et coût en sus</coût>
									<li>Surprime d'assurance sur destinations sensibles</li>
									<br>
									<h3><th>Conditions</th></h3>
									<li>Annulation à l'initiative du client :</li>
									<li>Après confirmation : 25 % du prix total</li>
									<li>Moins de 2 jours (48 heures) avant décollage : 80 % du prix total</li>
									<li>Moins de 7 jours (168 heures) avant décollage : 50 % du prix total</li>
									<li>Moins de 24 heures avant décollage : 100 % du prix total</li>
									<li>Après décollage ou positionnement : les frais engagés seront dûs</li>
									<h3><th>Conditions de paiement :</th></h3>
									<li>Intégralité du solde avant décollage, FRAIS BANCAIRES À LA CHARGE DU CLIENT (carte de crédit 5%, American Express 7%)</li>
									<br>
									<h4>Cordialement,</h4>
									<h3>Stratton</h3>
								</div>
							</div>
						</div>
					</div>


				</h6>
				<a href="#" class="btn btn-subtitle btn-shadow  btn-primary mb-3 mr-2">
					<h5>
						Valider le paiement
					</h5>
					<span class="text-block">En cliquant vous acceptez les conditions de vente</span>
				</a>



			</div>
		</div>








