<div id="#margin_lr" >
	<div id="margin_tf">
		<h3>
			Type d'avion : <%= @aircraft.aircraft_type %> <br>
			Dans la categorie : <%= @aircraft.category %> <br>
			Avec la compagnie : <%= @aircraft.company %> <br>
			Pays d'origine : <%= @aircraft.origin %> <br>
			Année de fabrication de l'avion : <%= @aircraft.yom %> <br>
			Année de réaménagement de l'avion : <%= @aircraft.yor %> <br>
			<br>
			Au prix de : <%= @aircraft.trip_cost_without_commission(@departure_city, @arrival_city, @number_of_passengers) %> €
		</h3>
		<br>
		<%= image_tag(@aircraft.image_url, width: 430, height: 226)%> <br>
		<%= image_tag("aircrafts/#{@aircraft.tail}/#{@aircraft.tail}_inside.jpg",  width: 430, height: 226)%> <br>
		<%= image_tag("aircrafts/#{@aircraft.tail}/#{@aircraft.tail}_floor.jpg",  width: 430, height: 226)%>
		<br>
		<br>
	</div>
	<div id="trip_recap">
		<h5>
			Recapitulatif de la commande : <br>
		</h5>
		<h6>
			Vol : De <%= @arrival_city %> à <%= @departure_city %> <br>
			L'avion : <%= @aircraft.aircraft_type %> <br>
			Prix compagnie : <%= @aircraft.trip_cost_without_commission(@departure_city, @arrival_city, @number_of_passengers) %> € <br>
			Commission Stratton : <%= @aircraft.trip_commission(@departure_city, @arrival_city, @number_of_passengers) %> € (5%) <br>
			<br>

			Total : <%= @aircraft.trip_cost_with_commission(@departure_city, @arrival_city, @number_of_passengers) %> €
			<br>
			<br>
			<button type="button" class="btn btn-warning mb-2 mr-1" data-toggle="modal" data-target=".bd-example-modal-lg">Conditions de vente</button>
			<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">
								Conditions generales de vente - Stratton
							</h4>
						</div>
						<div class="modal-body" style ="list-style: none">
							<h3><th>Inclus dans l'offre :</th></h3>
							<li>Catering Standard</li>    
							<li>Taxes Aéroportuaires, des passagers et prime d'assurance</li>
							<li>TVA si applicable</li>  
							<br>  
							<h3><th>Offre sous réserve :</th></h3>
							<li>Confirmation disponibilité appareil et équipage à la réservation</li>
							<li>Obtention des créneaux terrains, droits de trafic et stationnement appareil</li>
							<li>Variation coûts assurance, carburant, taux de change ou taxes aériennes</li>
							<h3><th>Additionnels :</th></h3>
							<li>Dégivrage au sol de l'appareil si nécessaire -Discrétion CdB- Refacturation à coût après le vol</li>
							<li>Usage du téléphone satellitaire si disponible et coût en sus</li>
							<li>Sur-prime d'assurance sur destinations sensibles</li>
							<li>Conditions</li>
							<li>Annulation à l'initiative du client :</li>        
							<li>Après confirmation : 25 % du prix total</li>    
							<li>Moins de 2 jours (48 heures) avant décollage : 80 % du prix total</li>
							<li>Moins de 24 heures avant décollage : 100 % du prix total</li>
							<li>Après décollage ou positionnement : les frais engagés seront dûs </li>   
							<li>Conditions de paiement :</li>
							<li>Intégralité du solde avant décollage, Frais bancaires à la charge du client (carte de crédit 5%, American Express 7%)</li>
							<br>
							<h4>Cordialement,</h4>
							<h3>Stratton</h3>
						</div>
					</div>
				</div>
			</div>
		</h6>
		<!-- BOUTON -->
		<button type="button" class="btn btn-subtitle btn-shadow  btn-primary mb-3 mr-2" data-toggle="modal" data-target="#exampleModalCenter">
			<h5>
				Valider le paiement
			</h5>
			<span class="text-block">En cliquant vous acceptez les conditions <br> de vente</span>
		</button>
		<!-- MODAL DU BOUTON -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">STRIPE</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<%= form_tag charges_path(aircraft_id: @aircraft.id, departure_city: @departure_city, arrival_city: @arrival_city, number_of_passengers: @number_of_passengers, departure_date: @date) do %>
						<article>
							<% if flash[:error].present? %>
							<div id="error_explanation">
								<p><%= flash[:error] %></p>
							</div>
							<% end %>
							<label class="amount">
								<span>Amount: <%= @aircraft.trip_cost_with_commission(@departure_city, @arrival_city, @number_of_passengers) %>€</span>
							</label>
						</article>
						<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
						data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
						data-description="Flight"
						data-amount="<%= @aircraft.trip_cost_with_commission(@departure_city, @arrival_city, @number_of_passengers).to_i * 100 %> "
						data-locale="auto"
						data-currency="EUR">
							

						</script>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>