<!-- PAGE PROFIL -->

<div class="center jumbotron", style="margin-top: 3%">
	<div style="float: right; font-size: 20px">
	</div>
	<div class="col-lg-3 col-md-6 mb-30" style="float: left;">
		<div class="bg-white shadow-sm rounded overflow-hidden">
			<div class="avatar">
				<%=image_tag  @user.avatar.url(:thumb) if @user.avatar? %>
				<br>
			</div>
			<h3 class="text-center text-dark pt-15"><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h3>
			<div class="clearifx row no-margin pt-3 pb-3">
				<a class="col-4 text-center">
					<i class="icon-Plane"></i><br>
					<span class="pt-1 text-dark text-muted fs-1x text-primary"><%=@user.user_flights.count%></span><br>
					<span class="pt-1 fs12">Vols</span>
				</a>
				<a class="col-4 b-r b-l text-center">
					<i class="fa fa-history"></i><br>
					<span class="pt-1 text-dark text-muted fs-1x text-primary">30</span><br>
					<span class="pt-1 fs12">Heures de vol</span>
				</a>
				<a class="col-4 text-center">
					<i class="icon-Speaker fs-1x"></i><br>
					<% total_km = [] %>
					<% @user.user_flights.each do |flights| %>
					<% total_km << Airport.km_between_airports(flights.place_departure, flights.place_arrival) %>
					<% end %>
					<span class="pt-1 text-dark text-muted fs-1x text-primary"><%= total_km.sum.to_i %></span><br>
					<span class="pt-1 fs12">Km parcourus</span>
				</a>
			</div>
		</div>
	</div>
	<div style="float: left;">
		<h3>
			<i class="icon-Paper-Plane"></i>
			<tr>Email : <%= @user.email %> </tr> 
			<br>
			<i class="fa fa-phone"></i>
			<tr>Telephone Personnel : <%= @user.phone %></tr> 
			<% if @user.verified == true %>
			<%= image_tag("check.png", size: "24x24", alt: "Numero vérifié", class: "verified")%>
			<br>
			<%end%>
			<br>
			<% if current_user.admin == true %>
			<i class="fa fa-envelope"></i><%= link_to "Boite de reception", message_admin_path %>
			<% else %>
			<tr><i class="fa fa-envelope"></i><%= link_to " Messagerie", messages_path %> </tr> 
			<% if @user.verified == false %>
			<tr><%= link_to "verifier son numero", authentification_path %> </tr> 
			<%end%>
			<%end%>
			<br>
			<tr><i class="icon-Gear"></i><%= link_to " Editer son  profil", edit_user_registration_path %> </tr> <br>
		</div>
		<br><br><br><br><br>
		<%if @user.avatar? %>
		<br><br><br><br><br>
		<%end%>
	</h3>
</div>
<div>
	<h2>Liste de vos vols</h2>	
	<table class="table mb-0 table-striped" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Reservation faite le</th>
				<th>Vol prevu le</th>
				<th>Au depart de</th>
				<th>Arrivée à</th>
				<th>Nombre de passager</th>
				<th>Cout total du vol</th>
				<th>Km parcouru</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<% @user.user_flights.each do |flights| %>
				<td><%= flights.created_at.strftime("%d/%m/%Y")  %></td>
				<%if flights.date_departure == nil %>
				<td><%= Date.today.strftime("%d/%m/%Y")%></td>
				<%else%>
				<td><%= flights.date_departure.strftime("%d/%m/%Y")  %></td>
				<%end%>
				<td><%= flights.place_departure  %></td>
				<td><%= flights.place_arrival %></td>
				<td><%= flights.number_of_people %></td>
				<td><%= flights.flight_price.to_i%>€</td>
				<td><%= Airport.km_between_airports(flights.place_departure, flights.place_arrival) %> kms</td>
				<%if flights.date_departure != nil %>
				<% if flights.date_departure <= Date.today %> 
				<td>effectué</td>
				<% else %> 
				<td>à venir</td>
				<% end %>
				<% else %> 
				<td>à venir</td>
				<% end %> 
			</tr>
			<%end%>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th>Cout total des vols</th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<% total_price = [] %>
				<% @user.user_flights.each do |flights| %>
				<% total_price << flights.flight_price.to_i %>
				<% end %>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="eur"><%= total_price.sum %>€</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
