<header class="header-main header-transparent">
	<%= render 'home/navbar' %>
	<% if flash[:notice] %>
	<div class="notice"><h2><%= flash[:notice] %></h2></div>
	<% end %>



</header>


<div class="container_bis">
  <%= image_tag "newyork_sombre3.jpg", class: "newyork"%> 
  <div class="centered">Reservez Votre Jet Privé</div>
  <div class="centered2">En Toute Transparence</div>
  <div class="centered3">Commission fixe de 5%</div>
  <div><a href="#comp" id="centered3" class="btn btn-xl btn-primary">Pourquoi Stratton</a></div> 

</div>






<%= render 'home/booking_good' %>

<%= render 'home/text_window' %>

<%= render 'home/comparatif' %>

<%= render 'home/nos_services' %>

<%= render 'home/caroussel' %>

<%= render 'home/promise' %>

<footer style="background-color: black;">
	<%= render 'home/footer' %>
</footer>
