
	<div id="preloader">
		<div id="preloader-inner"></div>
	</div>
<header class="header-main header-transparent">

    <%= render 'layouts/navbar' %>

	</header>
	<%= render 'layouts/slider_revolution' %>
	<%= render 'layouts/booking' %>
	
	<%= render 'layouts/text_window' %>
	<%= render 'layouts/nos_services' %>
	<%= render 'layouts/caroussel' %>
	<%= render 'layouts/instagram_galery' %>
