
<<<<<<< HEAD
	<div id="preloader">
		<div id="preloader-inner"></div>
	</div>
<header class="header-main header-transparent">

    <%= render 'layouts/navbar' %>
		
	</header>
	<%= render 'layouts/slider_revolution' %>
	<%= render 'layouts/intro' %>
	<%= render 'layouts/text_window' %>
	<%= render 'layouts/nos_services' %>
	<%= render 'layouts/caroussel' %>
	<%= render 'layouts/instagram_galery' %>
=======

<div id="preloader">
	<div id="preloader-inner"></div>
</div>


<%= render 'layouts/slider_revolution' %>

<%= render 'layouts/booking' %>









>>>>>>> c08d5beec018b3a365ad264cabf7f272f984dfad
