<body data-spy="scroll" data-offset="71" data-target="#navbarRestaurant">

	<!-- Cercle chargement -->
	<div id="preloader">
		<div id="preloader-inner"></div>
	</div>
	<!-- Cercle chargement -->

	<!--/preloader-->

	<header class="header-main header-transparent">
<%= render "layouts/navbar" %>

		<!-- COMMERCIALS -->
    <%= render 'layouts/navbar' %>





	</header>


	<!--slider revolution -->
<<<<<<< HEAD

	    <%= render 'layouts/slider_revolution' %>

=======
	<%= render "layouts/slider_revolution" %>
>>>>>>> 2ff84f725262c1935ff1e83e68c93a5e0f9bf9e3

	<!--INTRO-->

    <%= render 'layouts/intro' %>

	<!--Caroussel-->


	<!--foods-->

	<%= render 'layouts/nos_services' %>


	<!--texte fenetre-->

	<!--half image section-->

<<<<<<< HEAD
	
=======
	<!--REVIEWS -->

	<!--NOS SERVICES -->
>>>>>>> 2ff84f725262c1935ff1e83e68c93a5e0f9bf9e3

	<!-- Triple_Tab  -->

	<%= render 'layouts/triple_tab' %>


	<!--INSTAGRAM GALLERY -->

	<%= render 'layouts/instagram_galery' %>

	<!-- Button elevator -->

	<!-- Script jquery -->

</body>
<<<<<<< HEAD
<footer>

	<%= render 'layouts/footer' %>


</footer>
</html>
=======
</html>
>>>>>>> 2ff84f725262c1935ff1e83e68c93a5e0f9bf9e3
