<header class="header-main header-transparent">
	<%= render 'home/navbar' %>
<% if flash[:notice] %>
    <div class="notice"><h2><%= flash[:notice] %></h2></div>
  <% end %>

  

</header>

<%= render 'home/slider_revolution' %>

<%= render 'home/booking_good' %>

<%= render 'home/text_window' %>

<%= render 'home/comparatif' %>

<%= render 'home/nos_services' %>

<%= render 'home/caroussel' %>

<%= render 'home/promise' %>

<footer style="background-color: black;">
	<%= render 'home/footer' %>
</footer>
