<body data-spy="scroll" data-offset="71" data-target="#navbarRestaurant">

	<!-- Cercle chargement -->
	<div id="preloader">
		<div id="preloader-inner"></div>
	</div>
	<!-- Cercle chargement -->

	<!--/preloader-->

	<header class="header-main header-transparent">

		<!-- COMMERCIALS -->

<%= render "layouts/navbar" %>
<%= render "layouts/commercial" %>
<%= render "layouts/intro" %>
<%= render "layouts/planes" %>
<%= render "layouts/caroussel" %>
<%= render "layouts/nos_services" %>

	</header>


	<!--slider revolution -->

	<!--INTRO-->

	<!--Caroussel-->

	<!--foods-->

	<!--texte fenetre-->

	<!--half image section-->

	<!--REVIEWS -->

	<!--NOS SERVICES -->

	<!-- Triple_Tab  -->

	<!--INSTAGRAM GALLERY -->

	<!-- Button elevator -->

	<!-- Script jquery -->

</body>
</html>
