<body data-spy="scroll" data-offset="71" data-target="#navbarRestaurant">

	<!-- Cercle chargement -->
	<div id="preloader">
		<div id="preloader-inner"></div>
	</div>
	<!-- Cercle chargement -->

	<!--/preloader-->

	<header class="header-main header-transparent">

		<!-- COMMERCIALS -->
    <%= render 'layouts/navbar' %>








	</header>


	<!--slider revolution -->

	    <%= render 'layouts/slider_revolution' %>


	<!--INTRO-->

	<%= render 'layouts/intro' %>

	<!--Caroussel-->


	<!--foods-->

	<%= render 'layouts/nos_services' %>


	<!--texte fenetre-->

	<!--half image section-->

	<!--REVIEWS -->

	<!--NOS SERVICES -->

	<!-- Triple_Tab  -->

	<%= render 'layouts/triple_tab' %>


	<!--INSTAGRAM GALLERY -->

	<%= render 'layouts/instagram_galery' %>

	<!-- Button elevator -->

	<!-- Script jquery -->

</body>
<footer>

	<%= render 'layouts/footer' %>


</footer>
</html>
