<body data-spy="scroll" data-offset="71" data-target="#navbarRestaurant">

	<!-- Cercle chargement -->
	<div id="preloader">
		<div id="preloader-inner"></div>
	</div>
	<!-- Cercle chargement -->

	<!--/preloader-->

	<header class="header-main header-transparent">

		<!-- COMMERCIALS -->
    <%= render 'layouts/navbar' %>





	</header>


	<!--slider revolution -->
<<<<<<< HEAD
<<<<<<< HEAD
	<%= render "layouts/slider_revolution" %>
=======

	    <%= render 'layouts/slider_revolution' %>

>>>>>>> 6ae075c31cbdada1ac12ffbe2fdf0e1838b53ca6
=======

	    <%= render 'layouts/slider_revolution' %>

>>>>>>> tempo

	<!--INTRO-->

    <%= render 'layouts/intro' %>

	<!--Caroussel-->


	<!--foods-->

	<%= render 'layouts/nos_services' %>


	<!--texte fenetre-->

	<!--half image section-->

<<<<<<< HEAD
<<<<<<< HEAD
	<!--REVIEWS -->

	<!--NOS SERVICES -->
=======
	
>>>>>>> 6ae075c31cbdada1ac12ffbe2fdf0e1838b53ca6
=======
	<!--REVIEWS -->

	<!--NOS SERVICES -->
>>>>>>> tempo

	<!-- Triple_Tab  -->

	<%= render 'layouts/triple_tab' %>


	<!--INSTAGRAM GALLERY -->

	<%= render 'layouts/instagram_galery' %>

	<!-- Button elevator -->

	<!-- Script jquery -->

</body>
<<<<<<< HEAD
<<<<<<< HEAD
</html>
=======
=======
>>>>>>> tempo
<footer>

	<%= render 'layouts/footer' %>


</footer>
</html>
<<<<<<< HEAD
>>>>>>> 6ae075c31cbdada1ac12ffbe2fdf0e1838b53ca6
=======
>>>>>>> tempo
