
<!--Begining Booking -->

<div id='contact'>
	<div id="markermap" ></div>
</div>

<div class="pt100 pb70 parallax-overlay bg-parallax" data-jarallax="{&quot;speed&quot;: 0.4}"
style="background-image: none; z-index: 0; background-attachment: scroll; background-size: auto;"
id= "booking" >
<div class="container">
	<div class="row newsletter-row">
		<div class="col-lg-10 mr-auto m-auto mb30 text-center">
			<div class="center-title mb60 text-center">
				<h2 class="text-white">Choisir votre Jet</h2>
				<p class="text-white-gray"></p>
			</div>
			<%= form_tag ('/trip') do%>
			<div class="row">
				<div class="form-group" style="margin-left: 1%">
					<%= label_tag :De %>
					<%= text_field_tag :departure, nil, placeholder: 'De : Nice', class: 'form-control' %>
				</div>

				<div class="form-group" style="margin-left: 1%">
					<%= label_tag :À %>
					<%= text_field_tag :arrival, nil, placeholder: 'De : Paris', class: 'form-control' %>
				</div>

				<div class="form-group" style="margin-left: 1%">
					<%= label_tag :departure %>
					<%= text_field_tag :departure_date, nil, placeholder: "Date", id: "checkin", class: 'form-control form-control-lg datepicker' %>
				</div>
				<div class="form-group" style="margin-left: 1%">
					<%= label_tag :people %>
					<%= text_field_tag :people, nil, placeholder: 'Passagers', class: 'form-control' %>
					<br>
				</div>
				<div class="search" style="margin-left: 42%">
					<%= submit_tag "Rechercher", class: "btn btn-primary" %>
				</div>
			</div>

			<% end %>
		</div><!--/.col-->
	</div><!--/.row-->
	</div>
	</div>
	</div>
	</div>
