<div class='pt90 pb90 bg-dark clearfix' id='gallery'>
            <div class='container gallery-row clearfix'>
                <div class="center-title">
                    <h2 class='text-white'>Instagram Gallery <sub class='badge badge-primary'><i class='fa fa-thumbs-up'></i> 40.4K</sub></h2>
                    <p>Best chefs team serve better to our valuable customers</p>
                </div>
                <a href='images/resto/food1.jpg'>
                    <%= image_tag('jet.png', :class => 'img-fluid') %>
                </a>
                <a href='images/resto/food2.jpg'>
                    <%= image_tag('jet.png', :class => 'img-fluid') %>
                </a>
                <a href='images/resto/food3.jpg'>
                    <%= image_tag('jet.png', :class => 'img-fluid') %>
                </a>
                <a href='images/resto/food4.jpg'>
                    <%= image_tag('jet.png', :class => 'img-fluid') %>
                </a>
                <a href='images/resto/food5.jpg'>
                    <%= image_tag('jet.png', :class => 'img-fluid') %>
                </a>
                <a href='images/resto/food6.jpg'>
                    <%= image_tag('jet.png', :class => 'img-fluid') %>
                </a>
                <a href='images/resto/food7.jpg'>
                    <%= image_tag('jet.png', :class => 'img-fluid') %>
                </a>
                <a href='images/resto/food8.jpg'>
                    <%= image_tag('jet.png', :class => 'img-fluid') %>
                </a>
                <a href='images/resto/food9.jpg'>
                    <%= image_tag('jet.png', :class => 'img-fluid') %>
                </a>
                <a href='images/resto/food10.jpg'>
                    <%= image_tag('jet.png', :class => 'img-fluid') %>
                </a>
            </div>
        </div>