<div class='pt90 pb90 bg-dark clearfix' id='avions'>
					<div class='container gallery-row clearfix'>
							<div class="center-title">
									<h2 class='text-white'>Instagram Gallery <sub class='badge badge-primary'><i class='fa fa-thumbs-up'></i> 13.4K</sub></h2>
									<p>Souvenirs de moments privilégiés</p>
							</div>
							<a href='insta/insta01.png'>
									<%= image_tag('insta/insta01.png', :class => 'img-fluid') %>
							</a>
							<a href='insta/insta02.png'>
									<%= image_tag('insta/insta02.png', :class => 'img-fluid') %>
							</a>
							<a href=''>
									<%= image_tag('insta/insta03.png', :class => 'img-fluid') %>
							</a>
							<a href='insta/insta04.png'>
									<%= image_tag('insta/insta04.png', :class => 'img-fluid') %>
							</a>
							<a href='insta/insta05.png'>
									<%= image_tag('insta/insta05.png', :class => 'img-fluid') %>
							</a>
							<a href='insta/insta06.png'>
									<%= image_tag('insta/insta06.png', :class => 'img-fluid') %>
							</a>
							<a href='insta/insta07.png'>
									<%= image_tag('insta/insta07.png', :class => 'img-fluid') %>
							</a>
							<a href='insta/insta08.png'>
									<%= image_tag('insta/insta08.png', :class => 'img-fluid') %>
							</a>
							<a href='insta/insta09.png'>
									<%= image_tag('insta/insta09.png', :class => 'img-fluid') %>
							</a>
							<a href='insta/insta10.png'>
									<%= image_tag('insta/insta10.png', :class => 'img-fluid') %>
							</a>
					</div>
			</div>
