<<<<<<< HEAD
=======
<nav class="navbar navbar-expand-lg navbar-light bg-light">


	<%= link_to "Home", root_path, class: "navbar-brand" %>

	<% if user_signed_in? %>


	<%= link_to "Profil", user_path(current_user.id), class: "navbar-brand" %>

	<%= link_to "Log out", destroy_user_session_path, class: "navbar-brand", method: :delete  %>

	<%else%>

	<%= link_to "Log In", new_user_session_path, class: "navbar-brand" %>

	<%= link_to "Sign Up", new_user_registration_path, class: "navbar-brand" %>

	<%end%>

</nav>


>>>>>>> 2ff84f725262c1935ff1e83e68c93a5e0f9bf9e3
<nav class="navbar navbar-expand-lg navbar-light bg-faded">
			<div class="container">
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarRestaurant" aria-controls="navbarRestaurant" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<%= image_tag('stratton.png', :class => 'logo logo-light hidden-md-down') %>
				</a>
				<div  id="navbarRestaurant" class="navbar-collapse collapse">
					<ul class="navbar-nav  ml-auto">
						<li class="nav-item"><a data-scroll class="nav-link active" href="#home"> Home</a></li>
						<li class="nav-item"><a data-scroll class="nav-link" href="#vision"> Vision</a></li>
						<li class="nav-item"><a data-scroll class="nav-link" href="#avions"> Avions</a></li>
						<li class="nav-item"><a data-scroll class="nav-link" href="#services"> Contact</a></li>
						<li class="nav-item"><a data-scroll class="nav-link btn btn-primary" href="classic-restaurant-reservation.html"> Book a plane</a></li>
						<li class="nav-item"><a data-scroll class="nav-link" href="utilisateur/sign_in"> Login</a></li>
						<li class="nav-item"><a data-scroll class="nav-link" href="utilisateur/sign_up"> Sign Up</a></li>
						
					</ul>
				</div>
			</div>
<<<<<<< HEAD
		</nav>
=======
		</nav>
>>>>>>> 2ff84f725262c1935ff1e83e68c93a5e0f9bf9e3
