<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<%= link_to "Home", root_path, class: "navbar-brand" %> 

	<% if user_signed_in? %>

	<%= link_to "Profil", user_path(current_user.id), class: "navbar-brand" %> 

	<%= link_to "Log out", destroy_user_session_path, class: "navbar-brand", method: :delete  %>

	<%else%>

	<%= link_to "Log In", new_user_session_path, class: "navbar-brand" %>

	<%= link_to "Sign Up", new_user_registration_path, class: "navbar-brand" %>

	<%end%>

</nav>



------------


<nav class="navbar navbar-expand-lg navbar-light bg-faded">
			<div class="container">
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarRestaurant" aria-controls="navbarRestaurant" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img class='logo logo-light hidden-md-down' src="images/logo-light.png" alt="">
				</a>
				<div  id="navbarRestaurant" class="navbar-collapse collapse">
					<ul class="navbar-nav  ml-auto">
						<li class="nav-item"><a data-scroll class="nav-link active" href="#home"> Home</a></li>
						<li class="nav-item"><a data-scroll class="nav-link" href="#about"> About</a></li>
						<li class="nav-item"><a data-scroll class="nav-link" href="#foods"> Our food</a></li>
						<li class="nav-item"><a data-scroll class="nav-link" href="#services"> Services</a></li>
						<li class="nav-item"><a data-scroll class="nav-link" href="#menu"> Menu</a></li>
						<li class="nav-item"><a data-scroll class="nav-link" href="#chefs"> Chefs</a></li>
						<li class="nav-item"><a data-scroll class="nav-link" href="#gallery"> Gallery</a></li>
						<li class="nav-item"><a data-scroll class="nav-link" href="#contact"> Contact</a></li>
						<li class="nav-item"><a data-scroll class="nav-link btn btn-primary" href="classic-restaurant-reservation.html"> Book a table</a></li>
					</ul>
				</div>
			</div>
		</nav>