<div class="bg-dark pt90 pb60" id="services">
		<div class="container">
			<div class="center-title">
				<h2 class="text-white">Pourquoi voyagez avec nous ?</h2>

				<p class="text-white-gray">Nos services</p>
			</div>
			<div class="row text-center">
				<div class="col-md-4 mb30">
					<%= image_tag('icons8-couteux-64.png', :class => 'img-fluid') %>
					<h4 class="text-white">#Transparence</h4>
					<p>
						Chez Stratton, nous appliquons une commission fixe de 5%. A quel pourcentage se rémunère votre courtier ?
					</p>
				</div>
				<div class="col-md-4 mb30">
					<%= image_tag('dispo.png', :class => 'img-fluid') %>
					<h4 class="text-white">#Disponibilité</h4>
					<p>
						Un départ à la dernière minute ? Une question sur un vol ? Nous sommes à votre écoute 24/7
					</p>
				</div>
				<div class="col-md-4 mb30">
					<%= image_tag('confi.png', :class => 'img-fluid') %>
					<h4 class="text-white">#Confidentialité</h4>
					<p>
						La confidentialité est l'écrin du bonheur
				</p>
				</div>
				<div class="col-md-4 mb30">
					<%= image_tag('choix.png', :class => 'img-fluid') %>
					<h4 class="text-white">#Le choix</h4>
					<p>
						Choisir Stratton, c'est faire le choix d'être accompagné à travers une flotte mondiale de plus de 7000 jets
					</p>
				</div>
				<div class="col-md-4 mb30">
					<%= image_tag('traiteur.png', :class => 'img-fluid') %>
					<h4 class="text-white">#Traiteur</h4>
					<p>
						Pour le plaisir de vos papilles, Stratton à fait le choix des plus traiteurs du monde entier pour vous garantir un voyage gourmand
					</p>
				</div>
				<div class="col-md-4 mb30">
					<%= image_tag('carbon.png', :class => 'img-fluid') %>
					<h4 class="text-white">#Compensation carbonne</h4>
					<p>
						En partenariat avec l'association CO2 solidaire, Stratton vous propose de donner un visage humain à votre emprunte carbonne
					</p>
				</div>
			</div>
		</div>
	</div>
