<div class="bg-dark pt90 pb60" id="services">
		<div class="container">
			<div class="center-title">
				<h2 class="text-white">Pourquoi voyagez avec nous ?</h2>
				<p class="text-white-gray">Nos services</p>
			</div>
			<div class="row text-center">
				<div class="col-md-4 mb30">
					<%= image_tag('jet.png', :class => 'img-fluid') %>
					<h4 class="text-white">Transparence</h4>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
				<div class="col-md-4 mb30">
					<%= image_tag('jet.png', :class => 'img-fluid') %>
					<h4 class="text-white">Catering</h4>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
				<div class="col-md-4 mb30">
					<%= image_tag('jet.png', :class => 'img-fluid') %>
					<h4 class="text-white">Impact carbon</h4>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
				<div class="col-md-4 mb30">
					<%= image_tag('jet.png', :class => 'img-fluid') %>
					<h4 class="text-white">Comission fixe</h4>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
				<div class="col-md-4 mb30">
					<%= image_tag('jet.png', :class => 'img-fluid') %>
					<h4 class="text-white">Unicef</h4>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
				<div class="col-md-4 mb30">
					<%= image_tag('jet.png', :class => 'img-fluid') %>
					<h4 class="text-white">Service 24/7</h4>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
			</div>
		</div>
	</div>