<div class="bg-parallax parallax-overlay pt100 pb100" id='menu' data-jarallax='{"speed": 0.2}' style="background:url(images/resto/bg3.jpg) no-repeat;">
	<div class="container">
		<div class="center-title">
			<h2 class='text-white'>Les avions</h2>
			<p class='text-white-gray'>Best chefs team serve better to our valuable customers</p>
		</div>

		<div class='food-menu-card'>
			<div>

				<!-- Nav tabs -->
				<ul class="nav  tabs-menu-nav justify-content-center mb30" role="tablist">
					<li class="nav-item" role="presentation"><a class="active nav-link" href="#breakfast" aria-controls="breakfast" role="tab" data-toggle="tab">Light</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link" href="#lunch" aria-controls="lunch" role="tab" data-toggle="tab"> Mid-size</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link" href="#dinner" aria-controls="dinner" role="tab" data-toggle="tab">Heavy</a></li>
				</ul>



				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active show fade" id="breakfast">
						<div class='row'>
							<div class='col-md-6 mb20'>
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>									
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
							</div>
							<div class='col-md-6 mb20'>
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="lunch">
						<div class='row'>
							<div class='col-md-6 mb20'>
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>>
										</div>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>v>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
							</div>
							<div class='col-md-6 mb20'>
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="dinner">
						<div class='row'>
							<div class='col-md-6 mb20'>
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
							</div>
							<div class='col-md-6 mb20'>
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
								<article class="media">
									<!-- Article Image -->
									<a class="g-width-100" href="#">
										<%= image_tag('jet.png', :class => 'img-fluid mr-4') %>	
									</a>
									<!--Image -->
									<!--Content -->
									<div class="media-body align-self-center g-pl-10">
										<div class="d-flex justify-content-between mb10">
											<h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>
										</div>

										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
									</div>
									<!--/Content -->
								</article><!--/Article -->
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>