<!DOCTYPE html>
<html>
<head>
	<title>Stratton Private Jets</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body data-spy="scroll" data-offset="71" data-target="#navbarRestaurant">
<<<<<<< HEAD
	<header class="header-main header-transparent">

		<%= render "layouts/navbar" %>
		
	</header>


	<%= yield %>
	
</body>

<footer>
	<%= render 'layouts/footer' %>
</footer>

=======

  <%= yield %>

  <footer>
  	<%= render 'layouts/footer' %>
  </footer>

  <%= yield :end_scripts %>
  
</body>
>>>>>>> 1545fa6121038e8a7bd043929cec6bb5ae2ef76e
</html>
